/*custom fonts*/
@font-face {
    font-family: Centra;
    src: url(./assets/font/CentraNo2-Bold\ \(1\).ttf);
    font-weight:700;
}
@font-face {
    font-family: Centra;
    src: url(./assets/font/CentraNo2-Medium.ttf);
    font-weight:500;
}
@font-face {
    font-family: Centra;
    src: url(./assets/font/CentraNo2-Book.ttf);
    font-weight:400;
}

/*Default CSS*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top:75px;
}
body{
    font-weight:400;
    overflow-x:hidden;
    position: relative;
    background-color: #121212 !important;
    color: #fff !important;
    font-family:'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6{
margin: 0;
padding:0;
line-height: no;
}

#link1{
    font-weight: 400;
    color: white !important;
    letter-spacing: 0.8px;
    padding: 0 25px;
    font-size: 18px;
    opacity: 0.75;
}
#link1:hover{
    font-weight: 400;
    color: rgb(176, 176, 176) !important;
    letter-spacing: 0.8px;
    padding: 0 25px;
    font-size: 18px;
    opacity: 0.75;
}

#link2{
    font-weight: 400;
    color: white !important;
    letter-spacing: 0.8px;
    padding: 0 25px;
    font-size: 18px;
    opacity: 0.75;
}
#link2:hover{
    font-weight: 400;
    color: rgb(176, 176, 176) !important;
    letter-spacing: 0.8px;
    padding: 0 25px;
    font-size: 18px;
    opacity: 0.75;
}
#link3{
    font-weight: 400;
    color: white !important;
    letter-spacing: 0.8px;
    padding: 0 25px;
    font-size: 18px;
    opacity: 0.75;
}
#link3:hover{
    font-weight: 400;
    color: rgb(176, 176, 176) !important;
    letter-spacing: 0.8px;
    padding: 0 25px;
    font-size: 18px;
    opacity: 0.75;
}
#link4{
    font-weight: 400;
    color: white !important;
    letter-spacing: 0.8px;
    padding: 0 25px;
    font-size: 18px;
    opacity: 0.75;
}
#link4:hover{
    font-weight: 400;
    color: rgb(176, 176, 176) !important;
    letter-spacing: 0.8px;
    padding: 0 25px;
    font-size: 18px;
    opacity: 0.75;
}
  
